* {
  margin: 0;
}
body {
  background: #000008;
  height: 100vh;
  width: 100vw;
  color: #a67c00;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container {
  margin: 20px auto;
  position: relative;
  width: 460px;
}

.controls {
  padding-top: 20px;
}

.controls input {
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container #speed-label {
    align-self: flex-start;
  }
}
